extends layout

block content
  include barre_menu

  .row  
    for item in modules
       - var piece = item.piece
       
       if type_piece == 'all'
          - go = true
       else
          - go =  piece==type_piece 
          
       if go
          div(class="col-md-3")
              div.thumbmail(class=" bg-primary",style="border : 1px solid;margin-bottom:10px")
                p.text-right(style='padding-right:10px;') #{item.piece}
                center
                  img.img-circle(src="/images/#{item.type_module}.jpg")
                  h4 #{item.nom}
                  h2.text-center #{item.code}
                  if item.actif=='oui' 
                    div
                        div.my-input(size="20px",style="width:10px;")
                    p
                      button(class='btn btn-success btn-lg btn_#{item.type_module}', typebtn='on', name='#{item.code}')
                        span(class='glyphicon glyphicon-ok-circle')
                      span  
                      button(class='btn btn-danger btn-lg btn_#{item.type_module}', typebtn='off', name='#{item.code}')
                        span(class='glyphicon glyphicon-remove-circle')
                  else
                    p inactif
                           
                  br
 
    div(class='zlog col-lg-3 col-md-3 hidden-xs hidden-sm bg-primary')
      div(class='tracelog bg-warning', id='tmplt', style='display: none')
        div#retourio
          small xxxxx
          
    br
    br
    br     
    br    
  include footer

  